@font-face {
  font-family: 'meriendabold';
  src: url('../font/merienda-bold-webfont.woff2') format('woff2'),
       url('../font/merienda-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'meriendaregular';
  src: url('../font/merienda-regular-webfont.woff2') format('woff2'),
       url('../font/merienda-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body{
  font-family: meriendabold;
  height: 100vh;
  background: url("../img/fondPagePrincipal.png") center no-repeat;
  background-size: cover;

}

array{
  background-color: azure;
}

.ndPrincipal{
  width: 100%;
  text-align: center;
}
.ndPrincipal:before {
  content: "";
  background-color: #e5c598;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.35;
}


.ndMarg{
  margin-top : 75px;
}

@media (min-width : 992px){ 
  body{
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .ndContForm{
    height : 500px;
  }
  form.ndForm{
    margin-top : 45px;
    width: 100%;
    color : white;
    font-size: 30px;
  }

  .ndPrincipal .ndTextAccueil{
    height : 400px;
    font-size: 50px;
    color: white;
    padding-top : 35px;
    text-align: center;
  }

  .ndPrincipal #ndMajA{
    font-size: 130px;
  }
  form button{
    margin-top : 25px;
  }
}


.ndContForm::before{
  content: "";
  background-color: #ebd2be;
  border : 5px solid #d7b4a5;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
  z-index : -1;
}

.ndForm{
  margin-top : 25px;
  width: 100%;
  color : white;
  font-size: 25px;
}

form.ndForm label{
  font-size : 25px;
}

.ndForm button{
  background-color: #7e5253;
  color : white;
  width : 250px;
  height : 50px;
}

.ndContForm{
  padding-bottom : 25px;
}

.ndTextAccueil{
 
  height : 200px;
    font-size: 25px;
    color: white;
    padding-top : 15px;
    width: 100%;
}

#ndMajA{
  font-size: 65px;
}